{% extends "base.html" %}

{% block title %}
    About Us | Diet Sprint
{% endblock %}

<!-- About us contents -->
{% block content %}
<div class="container-fluid background" align="justify">
    <div class="container mt-5 mb-5">
        <!--About us title-->
        <h1 class="pb-4">About Us</h1>
        
        <h3>Your Data-Driven Path to a Healthier You</h3>
        <p>
            Welcome to DietSprint, where your fitness goals meet intelligent tracking. 
            We believe that achieving your ideal weight shouldn't be about guesswork—it should be driven by clear, actionable insights. 
        </p></br>
        <h3>How Do We Help</h3>
        <p>
            Our mission is to empower individuals to take full ownership of their health journey through simple, data-backed tools. 
            By analyzing your current BMI (Body Mass Index), our platform helps you set realistic, tailored target weights and provides the visual analytics you need to stay on course.
        </p></br>
        <h3>Key Features:</h3>
        <p>
           <ul>
                <li><b>Smart Goal Setting:</b> Establish healthy, personalized weight targets based on your current BMI.</li>
                <br>
                <li><b>Visual Progress Analytics:</b> Monitor your transformation over time with intuitive, dynamic graphs.</li>
                <br>
                <li><b>Time-Bound Tracking:</b> Stay accountable with structured timelines that visualize your daily or weekly progress.</li>
           </ul>
        </p></br>
        <p>
            Whether you are looking to lose, gain, or maintain weight, 
            DietSprint provides the clarity and tools you need to succeed—one data point at a time.
        </p>
    </div>
</div>
{% endblock %}
